.customOverlayDefault {
    background-color: white;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    color: red; /* availableCnt 색상 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 */
    text-align: center;
    position: relative;
    bottom: 2px; /* 마커 위에 오도록 위치 조정 */
    /* margin-right: 10px; */
}

/* 필요하다면 선택된 상태의 오버레이 스타일도 추가 */
.custom-overlay-selected {
    background-color: #4FA969;
    color: white;
    border: 1px solid #4FA969;
}